.bgimg{
    background-image: url(../HACKFEST/clean.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    width: 100%;
    height:950px;

}

.headerset{
    padding: 300px;
    box-sizing: border-box;
}

.headerset h1{
    font-size: 60px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: inherit;
    color:black; 
    transition:0.7s ease;
}
.headerset h2{
    color:rgb(17, 8, 145);
    font-weight:700;
    font-size:40px;
    transition:0.7s ease;
}
.headerset h3{
    color:whitesmoke;
    font-style: italic;
    font-weight:700;
    font-size:30px;
    transition:0.7s ease;
}
.headerset h1:hover{
    font-size:65px; 
}
.headerset h2:hover{
    font-size:45px ;
}
.headerset h3:hover{
    font-size:35px ;
}
.navbar-nav li a{
    transition:0.7s ease;
    margin: 18px;
}
.navbar-nav li a:hover{
    font-size:30px;

}

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  /*border-width:0px;*/
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
   
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
  content: icon;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.input-container i {
  visibility: hidden;
  position:relative;
  top:40px;
  right:10px;
}

.input-container small {
  visibility:Hidden;
  position: relative;
  top:auto;
  bottom:0;
  left: 0;
}

.input-container.success input{
  border-width: 2px;
  border-color:#2ecc71 ;
}
.input-container.error input{
  border-width: 2px;
  border-color:#e74c3c ;
}
.input-container.success i.fa-check-circle{
  visibility: visible;
  color:#2ecc71;
}
.input-container.error i.fa-exclamation-circle{
  visibility: visible;
  color:#e74c3c;
}
.input-container.error small{
  color:#e74c3c;
  visibility: visible;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}